.canvas-container {
    width: 80vw;
    margin: 0 auto;
    height: 80vh;
    margin-top: 6vh;
    overflow: hidden;
    position: relative;
}

canvas {
    position: absolute;
    left: 0; top: 0;
}